{
    "svelteSortOrder" : "scripts-markup-styles",
    "svelteStrictMode": true,
    "svelteBracketNewLine": true,
    "svelteAllowShorthand": true,
    "svelteIndentScriptAndStyle": true,
    "singleQuote": true,
    "trailingComma": "none",
    "printWidth": 120  
}
  